.card {
    width: 23em;
    border-radius: 30px;
    overflow: hidden;
    // # Body Card
    .card-body {
        .card-title {
            font-weight: 900;
            text-align: center;
        }
        .card-text {
            font-weight: 400;
            color: $cinza-escuro;
            text-align: center;
        }
    }
    // # Planos de Contrato
    .contract{
        .row {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 60px;
            div {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a {
                    width: 80%;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;
                    color: $azul-escuro;
                    &:hover {
                        color: $azul-claro;     
                    }
                }
            }
        }
    }
    .buttons {
        .row {
            padding: 20px;
            div {
                a {
                    width: 100%;
                }
                .btn-primary {
                    box-shadow: 2px 2px 10px black;
                    background-color: $azul-escuro;
                    &:hover {
                        color: $branco;
                        background-color: $azul-claro;
                    }
                }
            }
        }
    }

    
}