.card {
    width: 23em;
    .card-title {
        font-weight: 900;
        text-align: center;
    }
    .card-text {
        font-weight: 400;
        color: $cinza-escuro;
        text-align: center;
    }
}