@media (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center center;
    }
    .card {
        .contract {
            .row {
                width: 100%;
                justify-content: space-around;
                div {
                    width: 33%;
                }
            }
        }
        .buttons {
            margin-top: 0.6em;
        }
    }
}